{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>testGO!</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    </head>
    <body style="background-color:gray; color:white;">
        {{ template "form" . }}
        <hr />
        {{ template "display" . }}
    </body>
</html>
{{ end }}

{{block "form" . }} 
    <form hx-post="/contacts" hx-target="#contacts" hx-swap="outer">
        name: <input type="text" name="name" />
        email: <input type="text" name="email" />
        <button type="submit">Create contacts</button>
    </form>
{{ end }}

{{ block "display" . }}
    <div style="display: grid;" id="contacts">
        {{ range .Contacts}}
            <div>
                name : <span>{{ .Name }}</span>
                email: <span>{{ .Email }}</span>
            </div>
        {{ end }}
    </div>
{{ end }}
